<@* !DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabs with jQuery</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        /* Custom styles for active tabs */
        .tab-content {
            padding-top: 20px;
        }
    </style>
</head>
<body>

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">

                                <!-- Tabs Navigation -->
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link active btn btn-primary" id="Solved-tab" href="#Solved" role="tab" aria-controls="Solved" aria-selected="true">
                                            New
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link btn btn-primary" id="Unsolved-tab" href="#Unsolved" role="tab" aria-controls="Unsolved" aria-selected="false">
                                            Appair
                                        </a>
                                    </li>
                                </ul>

                                <!-- Tab Content -->
                                <div class="tab-content mt-3" id="myTabContent">
                                    <div class="tab-pane fade show active" id="Solved" role="tabpanel" aria-labelledby="Solved-tab">
                                        <h2>New Test</h2>
                                         @await Component.InvokeAsync("NewVC") 

                                    </div>
                                    <div class="tab-pane fade" id="Unsolved" role="tabpanel" aria-labelledby="Unsolved-tab">
                                        <h2>Appair Test</h2>

                                        @await Component.InvokeAsync("AppairVC")


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS for responsive behavior -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery to handle tab switching -->
    <script>
        $(document).ready(function () {
            // Show the correct tab based on click
            $('#myTab a').on('click', function (e) {
                e.preventDefault();

                // Remove active class from all tabs
                $('#myTab a').removeClass('active');
                $('.tab-pane').removeClass('show active');

                // Add active class to clicked tab
                $(this).addClass('active');

                // Show the content corresponding to the clicked tab
                var target = $(this).attr('href');
                $(target).addClass('show active');
            });
        });
    </script>

</body>
</html> *@


 @using Domain
@model IEnumerable<ScheduleExam>

@{
    ViewData["Title"] = "Index";
}

<h1>Exam Schedule</h1>


<table class="table table-bordered table-condensed table-responsive ">
    <thead>
        <tr>
            <th>

               
                Sr No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ExamDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsObjective)
            </th>
            <th></th>
        </tr>
    </thead>
    @{
        int srno = 1;
    }
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="hidden" asp-for="@item.ScheduleExamID" />
                    @srno
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ExamDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsObjective)
                    @{
                        if (item.IsObjective == true)
                        {
                            @:YES
                        }
                        else
                        {
                            @:NO
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.ExamDate >= DateTime.Now)
                        {
                            <a asp-action="Start" asp-route-id="@item.ScheduleExamID" asp-route-data="@item.ScheduleExamCandidates" class="btn btn-success">Start</a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-danger">Expired</a>
                        }
                    }



                </td>
            </tr>
            srno++;
        }
    </tbody>
</table>
 