@model IEnumerable<Candidate>

@{
    ViewData["Title"] = "AddCandidate";
}

<h1>AddCandidate</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                CandidateID
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                EmailID
            </th>

            <th>
                RegistrationDate
            </th>
            <th>
                ActiveFlag
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var temp in Model)
        {
            <tr>
                <td>
                    @temp.CandidateID
                </td>
                <td>
                    @temp.CandidateName
                </td>
                <td>
                    @temp.Address
                </td>
                <td>
                    @temp.EmailID
                </td>

                <td>
                    @temp.RegistrationDate
                </td>
                <td>
                    @temp.ActiveFlag
                </td>
                <td>
                    <a asp-action="AssignExam" asp-route-id="@temp.CandidateID" asp-route-data="@ViewBag.id" class="btn btn-success">Assign Exam </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<div>
    <a asp-action="Index" asp-controller="ScheduleExam" asp-area="CompanyArea" class="btn btn-warning">Schedule Exam List</a>
</div>
