
 




@model TestPackageVM

@{
    ViewData["Title"] = "Buy";
}


@{
    List<SelectListItem> paymode = new List<SelectListItem>(ViewBag.paymentmode);
}


<div style="background-color:white; padding: 20px;">
    <!-- White background here -->
    <h4 style="text-align:center"><b> PackagePurchase</b></h4>
    <hr />
    <form method="post" asp-action="Buy" asp-controller="Purchase">
        <div class="row">

            <input type="hidden" asp-for="TestPackageID" class="form-control" />
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreationDate)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.CreationDate)
                <input type="hidden" asp-for="CreationDate" class="form-control" />
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.ApplicationDate)
                <input type="hidden" asp-for="ApplicationDate" class="form-control" />
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
                <input type="hidden" asp-for="Price"  class="form-control"/> 
          
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.PackageTitle)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.PackageTitle)
                <input type="hidden" asp-for="PackageTitle" class="form-control" />
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.PackageDesc)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.PackageDesc)
                <input type="hidden" asp-for="PackageDesc" class="form-control" />
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaxCandidatePerExam)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.MaxCandidatePerExam)
                <input type="hidden" asp-for="MaxCandidatePerExam" class="form-control" />
            </div>
            <input type="hidden" asp-for="TestPackageDetID" class="form-control" />
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.NoofTest)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.NoofTest)
                <input type="hidden" asp-for="NoofTest" class="form-control" />
            </div>
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.ValidityInMonths)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.ValidityInMonths)
                <input type="hidden" asp-for="ValidityInMonths" class="form-control" />
            </div>
           
        </div>
        <br />
        <div>
            <div colspan="5">
                Select Payment Mode: @Html.DropDownList("paymentmode", paymode)

                <input type="submit" value="Make Payment" class="btn btn-success" />
                <br />
                <br />
                <br />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to TestPackages List</a>
</div>




