@model IEnumerable<MockTest>

<html>
<head>
    <title> </title>
</head>
<body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h2 class="m-0 font-weight-bold text-primary">MockTest List</h2>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mt-3">
                        <a asp-action="Create" asp-controller="MMockTest" class="btn btn-primary">  Create QuestionBank</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>MockTestID</th>
                                        <th>MockTestName </th>
                                        <th>SubjectTitle </th>
                                        <th>NoofQuestion</th>
                                        <th>MarksPerQuestion</th>
                                        <th>IsNegavtive </th>
                                        <th>PassingMarks </th>
                                        <th>TimeperQuestion</th>



                                    </tr>
                                </thead>


                                <tbody>
                                    @foreach (var temp in Model)
                                    {
                                        <tr>
                                          
                                            <td> @temp.MockTestID</td>
                                            <td> @temp.MockTestName.</td>
                                            <td> @temp.MockTestSubject.SubjectTitle</td>
                                            <td> @temp.NoofQuestion</td>
                                            <td> @temp.MarksPerQuestion.</td>
                                            <td> @temp.IsNegavtive</td>
                                            <td> @temp.PassingMarks</td>
                                            <td> @temp.TimeperQuestion</td>


                                            <td>

                                                <a asp-action="Edit" asp-route-id="@temp.MockTestID" class="btn btn-primary"> Edit </a>
                                                 <a asp-action="Delete" asp-route-id="@temp.MockTestID" class="btn btn-primary"> Delete </a> 
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>